name: Docker
on: [ push]
jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup docker buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: latest
          qemu-version: latest
      - name: Available versions
        run: echo ${{ steps.buildx.outputs.platform }}
      - name: dockerhub login
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | \
          docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: docker build and push
        run: |
          docker buildx build \
            --platform linux/386,linux/and64,linux/arm/v6,linux/arm/v7,linux/arm64 \
            -t ${{ secrets.DOCKER_IMAGE }}:latest --push \
            .
